@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #1b2a4e;
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


header{
    width: 100%;
    
    min-height: 8vh;
}

.content-gorillaz{
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: all 1s;
    text-align: center;
}

.info-gorillaz h1{
    font-size: 42px;
}

.info-gorillaz .img{
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 15px;
}

.integrantes-gorillaz{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.integrantes-gorillaz h2, .discografia-gorillaz h2{
    font-size: 24px;
}

.integrantes-gorillaz .integrantes-lista{
    margin: 10px 0 0 0 ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: #fff;
    border: aliceblue solid 2px;
    border-radius: 20px;
    justify-content: center;
    padding: 25px 10px;
}

.integrantes-gorillaz .integrantes-lista li{
    width: 40%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.discografia-gorillaz{
    width: 100%;
    margin: 20px 0;
}

.discografia-gorillaz h2, .discografia-gorillaz p{
    text-align: center;
}

table{
    margin: 10px 0 0 0 ;
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
    color: black;
    display: table;
    border-collapse: collapse;
    overflow: hidden;
}

thead{
    background-color: #3a4a70;
    color: white;   
    border-top-right-radius: 20px; 
}



th, td, tfoot td{
    padding: 10px;
}

.anio{
    background-color: #a4b0cb83;
    text-align: center;
}

tfoot td{
    background-color: #5377cc9c;
    color: rgb(0, 0, 0);
    width: 80%;
    text-align: center;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.link-gorillaz{
    width: auto;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
    transition: all .5s;
    color: black;
}

.link-gorillaz:hover{
    background-color: #3a4a70;
    color: aliceblue;
    transition: all .5s;
    box-shadow: 0px 0px 15px 5px aliceblue;
}

#seccion-contact{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    border-top: white 1px solid;
    transition: all 0.5s;
}

#seccion-contact .seccion-contact-text{
    height: 100%;
    font-size: 18px;
    box-sizing: content-box;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#seccion-contact .seccion-contact-imgs{
    height: 100%;
    margin-left: 30px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

#seccion-contact .seccion-contact-imgs a{
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

#seccion-contact .seccion-contact-imgs a img{
    width: 22px;
    height: 22px;
}


@media only screen and (max-width: 700px) {
    #seccion-contact{
        display: flex;
        flex-direction: column;
        padding: 18px 0;
        transition: all 0.5s;
    }

    #seccion-contact .seccion-contact-text{
        font-size: 14px;
    }

    .content-gorillaz{
        width: 80%;
        margin: 0 auto;
        transition: all 1s;
    }
}

