@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #1b2a4e;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section{
    width: 100%;
    height: 70%;
}

#seccion-contact{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    border-top: white 1px solid;
}

#seccion-contact .seccion-contact-text{
    height: 100%;
    font-size: 18px;
    box-sizing: content-box;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#seccion-contact .seccion-contact-imgs{
    height: 100%;
    margin-left: 30px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

#seccion-contact .seccion-contact-imgs a{
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

#seccion-contact .seccion-contact-imgs a img{
    width: 22px;
    height: 22px;
}

.navbar-trigger{
    display: none;
}

@media only screen and (max-width: 700px) {
    #seccion-contact{
        display: flex;
        flex-direction: column;
        padding: 18px 0;
    }

    #seccion-contact .seccion-contact-text{
        font-size: 14px;
    }

    .navbar-trigger{
        display: block;
        cursor: pointer;
    }
}